@font-face {
    font-family: 'yayusa';
    src: url('/src/main/resources/Fonts/yayusa.ttf');
}

.title {
    -fx-font-family: 'yayusa';
    -fx-font-size: 40;
    -fx-fill: #00b69b;
}

.button {
    -fx-background-color: #2a0143;
    -fx-background-radius: 5;
    -fx-font-family: "Microsoft Tai Le";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
